@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/*Mobile Version*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.home {
  color: #504d4d;
  display: block;
  position: relative;
  background-color: white;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  /* color: rgb(103, 118, 97); */
  color: #504d4d;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 90px;
  background-color: white;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

header a {
  text-decoration: none;
  color: #fd802d;
}

header {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 5em;
}

h1.header {
  font-size: 3em;
}

strong {
  color: #faa680;
}

h2 {
  font-size: 80%;
  color: #504d4d;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h3 {
  color: black;
}

h4 {
  font-size: 200%;
  color: #faa680;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
  list-style: none;
}

nav ul {
  font-size: 1.5em;
  padding: .5em;
}

.menu-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #fd802d;
  margin: 3px;
  content: "";
  z-index: 99;
}

.menu-icon span::before {
  width: 35px;
  height: 5px;
  background-color: #fd802d;
  margin: 3px;
  margin-top: 10px;
  content: "";
  display: block;
  z-index: 99;
}

.menu-icon span::after {
  width: 35px;
  height: 5px;
  background-color: #fd802d;
  margin: 3px;
  margin-top: 20px;
  content: "";
  display: block;
  z-index: 99;
}

.menu-icon ul {
  display: none;
}

.open ul {
  display: contents;
}

nav a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: lightgray;
  letter-spacing: 4px;
}

nav ul li.active a {
  color: white;
}

p {
  color: black;
  font-size: 2em;
}

.resume h4 {
  color: black;
  font-size: 1.5em;
  text-align: left;
}

footer {
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #fd802d;
}

footer .socialmedia img {
  width: 35px;
  padding: .4%;
  padding-top: 10px;
  opacity: .5;
}

/*Desktop Version*/
@media only screen and (min-width: 1340px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  h1 {
    font-size: 1000%;
    font-weight: 900;
    margin-bottom: 0;
  }
  h1.header {
    font-size: 300%;
    letter-spacing: 5pt;
    text-transform: none;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  nav ul {
    text-transform: uppercase;
    font-size: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    word-spacing: 20pt;
  }
  h2 {
    font-size: 300%;
  }
  h3 {
    font-size: 200%;
  }
  p {
    line-height: 2em;
    font-size: 18pt;
  }
  .menu-icon ul {
    display: contents;
  }
  .menu-icon span {
    display: none;
  }
  .menu-icon span::before, span::after {
    display: none;
  }
  footer .socialmedia img {
    width: 3%;
  }
  .home, .container {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .mypic {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .portfolio img {
    width: 100%;
  }
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bio p {
    padding-left: 5%;
  }
  .portfoliogrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  .resume {
    margin: 10%;
    font-size: 20%;
  }
  .resume h2 {
    font-size: 20pt;
  }
  .resume h3 {
    font-size: 20pt;
  }
  .resume h4 {
    font-size: 18pt;
  }
  .resume p {
    line-height: 1.8em;
    font-size: 16pt;
  }
  .resume .logos {
    margin: 0;
    line-height: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .resume .logos img {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
  }
  .home-grid {
    margin: 17em 0 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 30em 30em 30em 30em 30em 30em;
        grid-template-rows: 30em 30em 30em 30em 30em 30em;
  }
}

.home-grid a p {
  z-index: 1;
  position: absolute;
  font-size: 3em;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  opacity: 0;
  font-weight: 900;
}

.home-grid a img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-grid a:hover img {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-filter: grayscale(100%) brightness(40%);
          filter: grayscale(100%) brightness(40%);
}

.home-grid a:hover p {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.home-grid a:nth-of-type(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.home-grid a:nth-of-type(5) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.home-grid a:nth-of-type(6) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.home-grid a:nth-of-type(8) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.home-grid a:nth-of-type(9) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.home-grid a:nth-of-type(12) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 6;
      grid-row-start: 6;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}
/*# sourceMappingURL=main.css.map */