
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

//Color Scheme

$body-background-color: white;
$color1: rgb(130, 155, 122);
$color2: rgb(160, 178, 151);
$color3: rgb(77, 120, 95); 
$color4: black;




/*Mobile Version*/

* {
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.home {
    color: hsl(0, 0%, 93%);
    display: block;
    position: relative;
    background-color: $body-background-color;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.container {
   /* color: rgb(103, 118, 97); */
    color: hsl(0, 0%, 93%);
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 120px;
    background-color: $body-background-color;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

header a{
    text-decoration: none;
    color: $color1;
    

}
header{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 5em;
}

h1.header {
    font-size: 3em;
}

strong{
    color: $color2;
}

h2{
    font-size: 80%;
    color: $color3;
    text-transform: uppercase;
    letter-spacing: .1em;
}

h3{
    color: $color4;

}

nav a{  
    text-decoration: none;
    color: $color3;
    list-style: none;
    
}
.mainmenu li { 
    display: none; 
    
}
nav.mainmenu{
    margin: none;
    padding: none;
}

.mainmenu div{
    width: 35px;
    height: 5px;
    background-color: $color1;
    margin: 3px;
}

.mainmenu.responsive div{
    display: none;
}

.mainmenu.responsive li { 
    display: block;	
    width: 100%; 
    font-size: 2em;
  

}
.mainmenu.responsive li a {	
    text-align: left;	 
}



nav a:hover{
    transition: .3s;
    color: lightgray;
}


nav ul li.active a {
    color: white;
}

p {
    color: $color4;
    font-size: 2em;
}
h4{
    color: black;
    font-size: 1.5em;
}



footer{
    height: 90px;
    width: 100%;
    text-align: center;
    background-color: white;
    color: $color1;
}

footer .socialmedia img{
    width: 35px;
    padding: .4%;
    opacity: .5;
}



/*Desktop Version*/

@media only screen and (min-width: 50em) {

    header{
        justify-content: space-between;
    }

    // nav ul{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }

    // .sticky {
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    //     padding-bottom: 0px;
    //     z-index: 99;
    
    
    // }

   
    h1.header {
   
    font-size: 300%;
    letter-spacing: 5pt;
    text-transform: none;
    padding-bottom: 0px;
    text-transform: uppercase;


    }



    nav ul{
        text-transform: uppercase;
        letter-spacing: 2pt;
        font-size: 130%;
        display: inline;
        word-spacing: 20pt;
    

    }

    h1{
        font-size: 1000%;
        font-weight: 900;
        padding: 0px;
    }

    h2 {
        font-size: 300%;
    }

    h3 {
        font-size: 200%;

    }

    p{
        line-height: 2em;
        font-size: 18pt;
    }

    .mainmenu li{
        display: contents;
    }

    .mainmenu button{
        display: none;
    }

    footer .socialmedia img{
        width: 3%;

    }
    .home, .container {
        max-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .mypic{
        width: 30%;
        align-self: center;
    }

    .portfolio img{
        width: 100%;
    }


    .bio{
        display: flex;
        justify-content: center;
    }

    .bio p {
        padding-left: 5%;
    }

    .portfoliogrid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }


.resume{
    margin: 10%;
    font-size: 20%;
}

.resume{
    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 20pt;

    }
    h4{
        font-size: 18pt;

    }

    p{
        line-height: 1.8em;
        font-size: 16pt;
    }
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30em 30em 30em 30em 30em 30em;
}

.home-grid:hover {
    transition: .4s;
    color: red;
}

.home-grid img {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
}



}