
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 110%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
   /* color: rgb(103, 118, 97); */
    color: hsl(0, 0%, 93%);
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 120px;
    background-color: white;
    

    
}

header {

    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    align-items: baseline;
    background-color: white;

    

}


header a{
    text-decoration: none;
    color: rgb(137, 154, 123);
    

}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 0px;
    z-index: 99;


}

.parallax1 {
    background-image: url("/images/webpageicon.png");

}
.parallax2 {
    background-image: url("/images/20180718_131944.jpg");

}
.parallax3 {
    background-image: url("images/bookcovericon.png");


}
.parallax4 {
    background-image: url("images/FinalCactusMockup.png");


}
.parallax5 {
    background-image: url("images/familybookleticon.jpg");

}

.parallax {
    height: 100%;
  /*  filter: grayscale(100%); */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



h1{
    font-size: 1300%;
    font-weight: 900;



}

h1.header {
   
    font-size: 300%;
    letter-spacing: 5pt;
    text-transform: none;
    padding-bottom: 0px;
    text-transform: uppercase;

}

strong{
    color: rgb(164, 176, 151);
}

nav {
    
    word-spacing: 20pt;
}

nav ul li {
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 130%;
    display: inline;
    

}

nav a{
    
    text-decoration: none;
    color: rgb(200, 200, 170);
    

}


nav ul li.active a {
    color: dimgray;
    
}

nav a:hover{
    transition: .3s;
    color: grey;
}

main {
    width: 100%;

}
div.text {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

main p{
    font-size: 200%;
    line-height: 170%;


}
.white {
    padding: 400px;
    background-color: white; 
    
}
.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.bio{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.imgdisplay img {
    width: 100%;
    filter: grayscale(100%); 
    
    
   
}


footer{
    height: 90px;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: white;
    color: rgb(137, 154, 123);
}

footer .socialmedia img{
    width: 35px;
    padding: .4%;
}

